#abc{
    background-color: aqua;
}
#xyz,.tab,h1{
    background-color: brown;
}
.rm{
    background-color: red;
}
.sharuk{
    background-color: yellow;
}
.ab{
    background-color: gold;
}
.kk{
    background-color: blue;
    font-size: large;
}